{% extends 'base.html' %}

{% block title %} {{ request.user.username }} {% endblock %}

{% block content %}

    <div class="container-fluid px-4">
        <h1 class="mt-4"> {{ request.user.username }} Profile</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">{{ request.user.username }}</li>
        </ol>

        <div class="card">
            <div class="card-header">
                <h3 class="card-title"> {{ request.user.username }} Profile</h3>
            </div>
            <div class="card-body">
                <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 20px">
                    <ul class="list-group">
                        <h3 class="card-title">Personal Information</h3>
                        <li class="list-group-item">Name: {{ profile.name }}</li>
                        <li class="list-group-item">Gender: {{ profile.gender }}</li>
                        <li class="list-group-item">Date Of Birth: {{ profile.date_of_birth }}</li>
                        <li class="list-group-item">Father Name: {{ profile.father_name }}</li>
                        <li class="list-group-item">Mother Name: {{ profile.mother_name }}</li>
                    </ul>
                    <ul class="list-group">
                        <h3 class="card-title">Academic Information</h3>
                        <li class="list-group-item">Board Roll: {{ profile.board_roll }}</li>
                        <li class="list-group-item">SSC Passing year: {{ profile.ssc_passing_year }}</li>
                        <li class="list-group-item">HSC Passing year: {{ profile.hsc_passing_year }}</li>
                        <li class="list-group-item">Total CGPA: {{ profile.cgpa }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
