{% extends 'base.html' %}

{% block title %} {{ request.user.username }} {% endblock %}

{% block content %}

    <div class="container-fluid px-4">
        <h1 class="mt-4"> {{ request.user.username }} Profile</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">{{ request.user.username }}</li>
        </ol>

        <div class="card">
            <div class="card-header">
                <h3 class="card-title"> {{ request.user.username }} Profile</h3>
            </div>
        </div>
    </div>

{% endblock %}
