{% extends 'base.html' %}

{% block title %} Dashboard {% endblock %}

{% block content %}
    <div class="app-title">
        <div>
            <h1><i class="fa fa-dashboard"></i> Dashboard</h1>
            <p>CBIU Student Web Portal</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-header text-left mb-2">
                {% include 'common/success_message.html' %}
                </div>
                {% if user.is_superuser %}
                    {% include 'include/admin-table.html' %}
                {% endif %}

                {% if user.student %}
                    {% include 'dashboard/student.html' %}
                {% endif %}
                
                {% if user.teacher %}
                    {% include 'include/teacher-table.html' %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
