{% extends 'base.html' %}

{% block title %} SWP || Dashboard {% endblock %}

{% block content %}
    <div class="app-title">
        <div>
            <h1><i class="fa fa-dashboard"></i> Subject</h1>
            <p>Subject create & listview</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
        </ul>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-header text-right mb-2">
                    <button data-toggle="modal" data-target="#exampleModal" type="button"
                            class="btn btn-sm btn-success">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
                <div class="tile-body">
                    {% if subject %}
                        <table class="table table-hover table-bordered" id="sampleTable">
                            <thead>
                            <tr>
                                <th>Subject Name</th>
                                <th>Code</th>
                                <th>Status</th>
                                <th>Created at</th>
                                <th>Updated at</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for obj in subject %}
                                <tr>
                                    <td>{{ obj.name }}</td>
                                    <td>{{ obj.code }}</td>
                                    <td>
                                        {% if obj.is_active %}
                                            <span>Activated</span>
                                        {% else %}
                                            <span>Deactivated</span>
                                        {% endif %}
                                    </td>
                                    <td>{{ obj.created_at }}</td>
                                    <td>{{ obj.updated_at }}</td>
                                    <td>
                                        <a class="btn btn-danger btn-sm" href=""><i class="fa fa-trash"></i></a>
                                        <a class="btn btn-success btn-sm" href=""><i class="fa fa-eye"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal Subject</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="name">Subject Name</label>
                            {{ form.name }}
                        </div>
                        <div class="form-group">
                            <label for="name">Subject Code</label>
                            {{ form.code }}
                        </div>
                        <div class="form-group">
                            <div class="form-check form-switch">
                                {{ form.is_active }}
                                <label class="form-check-label" for="is_active">Do you want to publish</label>
                            </div>


                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
