{% extends 'base.html' %}
{% block title %} Subject update  {% endblock %}

{% block content %}
<div class="app-title">
        <div>
            <h1><i class="fa fa-dashboard"></i> Subject update</h1>
            <p>Subject create & listview</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 m-auto card">
                    {{form.errors}}
                    <form method="post" enctype="multipart/form-data" id="form">
                        <div class="modal-body">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>{{ form.name.label }}</label>
                                {{ form.name }}
                            </div>
                            <img src="" alt="" id="showImage1" style="height: 150px; width: 200;">
                            <div class="form-group">
                                <label>{{ form.code.label }}</label>
                                {{ form.code }}
                            </div>
                            <img src="" alt="" id="showImage2" style="height: 150px; width: 200;">
                            <div class="form-group">
                                <label>{{ form.is_active.label }}</label>
                                {{ form.is_active }}
                            </div>
                        </div>
                            <button type="submit" class="btn btn-primary m-2">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}