{% extends 'base.html' %}
{% block title %} Teacher Add Form  {% endblock %}

{% block content %}
<div class="app-title">
        <div>
            <h1>CBIU Student Web Portal</h1>
            <p>Teacher Register</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 m-auto card">
                    {{form.errors}}
                    <form method="post" enctype="multipart/form-data" id="form">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                <label>{{ field.label }}</label>
                                {{ field }}
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary m-2">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}