{% extends 'base.html' %}
{% block title %} Marks {% endblock %}

{% block content %}
<div class="app-title">
        <div>
            <h1>Marks</h1>
            <p>Marks create & listview</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="{% url 'users:dashboard' %}">Dashboard</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                {% include 'common/success_message.html' %}
                <div class="tile-header mb-2 d-flex justify-content-between">
                    <div>
                        <form class="d-flex" action="{% url 'portal:marks-search' %}" method="get" style="width: 300px">
                            <input class="form-control" name="q" placeholder="Student Unique ID">
                            <button class="btn btn-primary ml-2">Submit</button>
                        </form>
                    </div>
                    <button data-toggle="modal" data-target="#exampleModal" type="button"
                            class="btn btn-sm btn-success">
                        <i class="fa fa-plus"></i>
                        Add Marks
                    </button>
                </div>
                <div class="tile-body">
                    {% if object_list %}
                        <table class="table table-hover table-bordered" id="sampleTable">
                            <thead>
                            <tr>
                                <th>Teacher</th>
                                <th>Student</th>
                                <th>Course</th>
                                <th>Type</th>
                                <th>Marks</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for obj in object_list %}
                                <tr>
                                    <td>{{ obj.teacher }}</td>
                                    <td>
                                        {{ obj.student }}
                                    </td>
                                    <td>
                                        {{ obj.course_schedule.course.title }}
                                    </td>
                                    <td>{{ obj.status }}</td>
                                    <td>{{ obj.marks }}</td>
                                    <td>
                                        <a class="btn btn-success btn-sm" href="{% url 'portal:marks-update' pk=obj.pk %}">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </a>
                                        <a class="btn btn-danger btn-sm" href="{% url 'portal:marks-delete' pk=obj.pk %}">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% include 'mark/modal.html' %}
{% endblock %}
{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script>
    var app = new Vue({
      el: '#app',
      delimiters: ['[[', ']]'],
      data: {
        course_schedule_list: {{ course_schedules|safe }},
        course_schedule_selected: '',
        students_arr: [],
      },
      mounted: function(){
        console.log('I am working.')
        console.log(this.course_schedule_list)
        console.log(this.students_arr)
      },
      methods: {
        loadFac(){
            this.students_arr = [];
            // console.log('i am a mark add modal')
            for (item in  this.course_schedule_list){
                if (this.course_schedule_selected === this.course_schedule_list[item]['pk']){
                    students = this.course_schedule_list[item]['fields']['students']
                    for(student in students){
                        this.students_arr.push({'id': students[student]['pk'], 'username': students[student]['username']})
                    }
                }
            }
            // console.log(this.students_arr)
        }
      }
    })
</script>
{% endblock %}