{% extends 'base.html' %}
{% block title %} Marks Search {% endblock %}

{% block content %}
<div class="app-title">
        <div>
            <h1>Marks Search</h1>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="{% url 'users:dashboard' %}">Dashboard</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                {% include 'common/success_message.html' %}
                <div class="tile-header text-right mb-2">
                    <div>
                        <form method="get" class="d-flex" style="width: 300px">
                            <input class="form-control" name="q">
                            <button class="btn btn-primary ml-2">Submit</button>
                        </form>
                    </div>
                </div>
                <div class="tile-body">
                    {% if object_list %}
                        <table class="table table-hover table-bordered" id="sampleTable">
                            <thead>
                            <tr>
                                <th>Teacher</th>
                                <th>Student</th>
                                <th>Type</th>
                                <th>Marks</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for obj in object_list %}
                                <tr>
                                    <td>{{ obj.teacher }}</td>
                                    <td>
                                        {{ obj.student }}
                                    </td>
                                    <td>{{ obj.status }}</td>
                                    <td>{{ obj.marks }}</td>
                                    <td>
                                        <a class="btn btn-success btn-sm" href="{% url 'portal:marks-update' pk=obj.pk %}">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </a>
                                        <a class="btn btn-danger btn-sm" href="{% url 'portal:marks-delete' pk=obj.pk %}">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% include 'mark/modal.html' %}
{% endblock %}