{% extends 'base.html' %}
{% block title %} Notice {% endblock %}

{% block content %}
<div class="app-title">
        <div>
            <h1>Notice</h1>
            <p>Notice create & listview</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="{% url 'users:dashboard' %}">Dashboard</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                {% include 'common/success_message.html' %}
                {% if user.is_superuser %}
                <div class="tile-header text-right mb-2">
                    <a href="{% url 'portal:notices-create' %}" class="btn btn-sm btn-success">
                        <i class="fa fa-plus"></i> Add Notice
                    </a>
                </div>
                {% endif %}
                <div class="tile-body">
                     {% if notices %}
                        <table class="table table-hover table-bordered" id="sampleTable">
                            <thead>
                            <tr>
                                <th>Notice Title</th>
                                <th>Notice Image</th>
                                <th>Created at</th>
                                <th>Updated at</th>
                                {% if user.is_superuser %}
                                <th>Actions</th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for obj in notices %}
                                <tr>
                                    <td>{{ obj.title }}</td>
                                    <td>
                                        <a href="{{ obj.image.url }}"target="_blank"><img width="50" height="50" src="{{ obj.image.url }}"></a>
                                    </td>
                                    <td>{{ obj.created_at|date }}</td>
                                    <td>{{ obj.updated_at|date }}</td>
                                    {% if user.is_superuser %}
                                    <td>
                                        <a class="btn btn-danger btn-sm" href="{% url 'portal:notice-delete' pk=obj.pk %}"><i
                                                class="fa fa-trash"></i></a>
                                        <a class="btn btn-success btn-sm" href="{% url 'portal:notices-update' pk=obj.pk %}"><i class="fa fa-edit"></i></a>
                                    </td>
                                    {% endif %}
                                </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5">Your Notice list empty.</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                     {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}