{% extends 'base.html' %}
{% block title %} Projects Create  {% endblock %}

{% block content %}
<div class="app-title">
        <div>
            <h1>CBIU Student Web Portal</h1>
            <p>Projects create</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 m-auto card">
                    {{form.errors}}
                    <form method="post" enctype="multipart/form-data" id="form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>{{ form.title.label }}</label>
                            {{ form.title }}
                        </div>
                        <div class="form-group">
                            <label>{{ form.description.label }}</label>
                            {{ form.description }}
                        </div>
                        <div class="form-group">
                            <label>{{ form.project_url.label }}</label>
                            {{ form.project_url }}
                        </div>
                        <div class="form-group">
                            <label>{{ form.project_file.label }}</label>
                            {{ form.project_file }}
                        </div>
                        <button type="submit" class="btn btn-primary m-2">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}