{% extends 'base.html' %}
{% block title %} Prjects {% endblock %}

{% block content %}
<div class="app-title">
        <div>
            <h1>Projects</h1>
            <p>Projects create & listview</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                {% include 'common/success_message.html' %}
                <div class="tile-header text-right mb-2">
                    <button data-toggle="modal" data-target="#exampleModal" type="button"
                            class="btn btn-sm btn-success">
                        <i class="fa fa-plus"></i>
                        Add project
                    </button>
                </div>
                <div class="tile-body">
                    {% if projects %}
                        <table class="table table-hover table-bordered" id="sampleTable">
                            <thead>
                            <tr>
                                <th>Student Name</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Section</th>
                                <th>Expiry date</th>
                                <th>Created at</th>
                                <th>Updated at</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for obj in projects %}
                                <tr>
                                    <td>{{ obj.student }}</td>
                                    <td>{{ obj.title }}</td>
                                    <td>{{ obj.description|slice:'10' }}</td>
                                    <td>{{ obj.section }}</td>
                                    <td>{{ obj.expiry_date|date }}</td>
                                    <td>{{ obj.created_at|date }}</td>
                                    <td>{{ obj.updated_at|date }}</td>
                                    <td>
                                        <a class="btn btn-danger btn-sm" href="{% url 'project_delete_view' pk=obj.pk %}">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                        <a class="btn btn-success btn-sm" href="{% url 'project_update_detail_view' pk=obj.pk %}">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% include 'common/modal.html' %}
{% endblock %}