{% extends 'base.html' %}
{% block title %} Semesters {% endblock %}

{% block content %}
<div class="app-title">
        <div>
            <h1>Semesters</h1>
            <p>Semesters create & listview</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-header text-left mb-2">
                {% include 'common/success_message.html' %}
                </div>
                <div class="tile-header text-right mb-2">
                    <button data-toggle="modal" data-target="#exampleModal" type="button"
                            class="btn btn-sm btn-success">
                        <i class="fa fa-plus"></i>
                        Add Semester
                    </button>
                </div>
                <div class="tile-body">
                    {% if semesters %}
                        <table class="table table-hover table-bordered" id="sampleTable">
                            <thead>
                            <tr>
                                <th>Student</th>
                                <th>Session</th>
                                <th>Year</th>
                                <th>Department</th>
                                <th>Create</th>
                                <th>Update</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for obj in semesters %}
                                <tr>
                                    <td>
                                        {{ obj.student.username }}
                                    </td>
                                    <td>
                                        {{ obj.session }}
                                    </td>
                                     <td>
                                        {{ obj.year }}
                                    </td>
                                    <td>
                                        {{ obj.department }}
                                    </td>
                                    <td>{{ obj.created_at }}</td>
                                    <td>{{ obj.updated_at }}</td>
                                    <td>
                                        <a class="btn btn-success btn-sm" href="{% url 'semesters-update-view' pk=obj.pk %}">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </a>
                                        <a class="btn btn-danger btn-sm" href="{% url 'semesters-delete-view' pk=obj.pk %}">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% include 'semester/modal.html' %}
{% endblock %}