{% extends 'base.html' %}
{% block title %} Semester update  {% endblock %}

{% block content %}
<div class="app-title">
        <div>
            <h1>CBIU Student Web Portal</h1>
            <p>Semester update</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 m-auto card">
                    {{form.errors}}
                    <form method="post" enctype="multipart/form-data" id="form">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label>{{ form.student.label }}</label>
                                    {{ form.student }}
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label>{{ form.session.label }}</label>
                                    {{ form.session }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label>{{ form.year.label }}</label>
                                    {{ form.year }}
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label>{{ form.department.label }}</label>
                                    {{ form.department }}
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary m-2">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}