{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Password Reset Complete - CBIU Student Web Portal</title>
    <style>
        .password-reset-complete{
            background-color: #00635a;
            height: 100vh;
            width: 100;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .password-reset-complete h1, h3{
            color: #ffff;
        }
    </style>
</head>
<body>
<section class="password-reset-complete">
        <h1>CBIU Student Web Portal</h1>
        <h3>Password Reset Complete</h3>
        <div>
            <a href="{% url 'dashboard' %}" class="btn btn-success">Check Your Email Inbox your Password Reset Link.</a>
            <a href="{% url 'login' %}" class="btn btn-success">Login</a>
        </div>
</section>
</body>
</html>