<div class="tile-body">
    <h3 class="title">Subjects</h3>
    <table class="table table-hover table-bordered" id="sampleTable">
        <thead>
        <tr>
            <th>Subject Name</th>
            <th>Code</th>
            <th>Status</th>
            <th>Created at</th>
            <th>Updated at</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in subjects %}
            <tr>
                <td>{{ obj.name }}</td>
                <td>{{ obj.code }}</td>
                <td>
                    {% if obj.is_active %}
                        <span>Activated</span>
                    {% else %}
                        <span>Deactivated</span>
                    {% endif %}
                </td>
                <td>{{ obj.updated_at|date }}</td>
                <td>{{ obj.created_at|date }}</td>
                <td>
                    <a class="btn btn-danger btn-sm" href="{% url 'subject_delete' obj.id %}"><i
                            class="fa fa-trash"></i></a>
                    <a class="btn btn-success btn-sm" href="{% url 'subject_update_view' obj.id %}"><i
                                class="fa fa-edit"></i>
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td>Subjects empty</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>