<div class="tile-body">
    <h3 class="title">Enroll subjects</h3>
    <table class="table table-hover table-bordered" id="sampleTable">
        <thead>
            <tr>
                <th>Student Name</th>
                <th>Subject Name</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for objects in enroll_subjects %}
            <tr>
                <td>{{objects.student}}</td>
                <td>
                    <ul>
                        {% for subject in objects.subjects.all %}
                        <li>
                            <p>
                                subject name: {{ subject.name }}
                                <span style="margin-left: 10px">subject code: {{ subject.code }}</span>
                            </p>
                        </li>
                        {% endfor %}

                    </ul>
                </td>
                <td>
                    {% if objects.is_approve %}
                    <span>Approved</span>
                    {% else %}
                    <span>Pending</span>
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-danger btn-sm" href="{% url 'subject_enroll_delete_view' pk=objects.pk %}">
                        <i class="fa fa-trash"></i>
                    </a>
                        <a class="btn btn-success btn-sm" href="{% url 'subjects_enroll_update_view' pk=objects.pk %}">
                            <i class="fa fa-edit"></i>
                        </a>
                        
                        {% if user.is_superuser %}
                            <a class="btn btn-success btn-sm" href="{% url 'subjects_enroll_approve_view' pk=objects.pk %}">
                                Approve
                            </a>
                        {% endif %}
                            
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">
                    <a href="{% url 'subject_enroll' %}" class="btn btn-success">Add Enroll Subject</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="tile-body">
    {% if routine %}
        <h3 class="title">Class Routines</h3>
        <table class="table table-hover table-bordered" id="sampleTable">
            <thead>
            <tr>
                <th>Routine Title</th>
                <th>Routine Image</th>
                <th>Created at</th>
                <th>Updated at</th>
                {% if user.roll == 'TEACHER' or user.is_superuser %}
                <th>Actions</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for obj in routine %}
                <tr>
                    <td>{{ obj.title }}</td>
                    <td>
                        <a href="{{ obj.routine_image.url }}" target="_blank">
                            <img src="{{ obj.routine_image.url }}" style="height: 100px; width: 110px">
                        </a>
                    </td>
                    <td>{{ obj.created_at|date }}</td>
                    <td>{{ obj.updated_at|date }}</td>
                    {% if user.roll == 'TEACHER' or user.is_superuser %}
                    <td>
                        <a class="btn btn-danger btn-sm" href="{% url 'routine_delete_view' pk=obj.pk %}"><i
                                class="fa fa-trash"></i></a>
                        <a class="btn btn-success btn-sm" href="{% url 'routines_update_view' pk=obj.pk %}"><i class="fa fa-edit"></i></a>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>