{% extends 'base.html' %}
{% block title %} Assignments {% endblock %}

{% block content %}
<div class="app-title">
        <div>
            <h1>CBIU Student Web Portal</h1>
            <p>Assignment lists</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="{% url 'users:dashboard' %}">Dashboard</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-header text-left mb-2">
                {% include 'common/success_message.html' %}
                </div>
                <div class="tile-header d-flex justify-content-between mb-2">
                    <form method="get">
                        {{ filter.form.course_schedule }}
                        <input type="submit" />
                    </form>
                    <a href="{% url 'faculties:assignments-create' %}" class="btn btn-sm btn-success">
                        <i class="fa fa-plus"></i>
                        Add Assignment
                    </a>
                </div>
                <div class="tile-body">
                    {% if filter.qs %}
                        <table class="table table-hover table-bordered" id="sampleTable">
                            <thead>
                            <tr>
                                <th>Teacher</th>
                                <th>Course Schedule</th>
                                <th>title</th>
                                <th>PDF Files</th>
                                <th>Show Assignment</th>
                                <th>Create</th>
                                <th>Last Date</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for obj in filter.qs %}
                                <tr>
                                    <td>
                                        {{ obj.teacher }}
                                    </td>
                                    <td>
                                        {{ obj.course_schedule }}
                                    </td>
                                    <td>
                                        {{ obj.title }}
                                    </td>
                                     <td>
                                         <a href="{{ obj.assignment_file.url }}" target="_blank">Assignment PDF Download</a>
                                    </td>
                                    <td>
                                        <a href="{% url 'faculties:assignments-detail' pk=obj.pk %}" class="btn btn-primary">Show Assignment</a>
                                    </td>
                                    <td>{{ obj.created_at|date }}</td>
                                    <td>{{ obj.last_date }}</td>
                                    <td>
                                        <a class="btn btn-success btn-sm" href="{% url 'faculties:assignments-update' pk=obj.pk %}">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </a>
                                        <a class="btn btn-danger btn-sm" href="{% url 'faculties:assignments-delete' pk=obj.pk %}">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}