{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>SWP || {% block title %} {% endblock %}</title>
    <meta name="description"  content="">
    <!-- Twitter meta-->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:site" content="@pratikborsadiya">
    <meta property="twitter:creator" content="@pratikborsadiya">
    <!-- Open Graph Meta-->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Web Student Portal Admin">
    <meta property="og:title" content="Web Student Portal">
    {% include 'stylesheet.html' %}
</head>
<body class="app sidebar-mini rtl">
<!-- Navbar-->
<header class="app-header"><a class="app-header__logo" href="/">CBIU Web Portal</a>
    {% include 'header.html' %}
</header>
<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
    {% include 'sidebar.html' %}
</aside>
<main class="app-content">
    {% block content %} {% endblock %}
</main>
{% include 'script.html' %}
{% block javascript %}
<script>
    console.log({{teacher}})
    console.log({{student}})
</script>
{% endblock %}
</body>
</html>
