<div class="app-sidebar__user">
    <img width="80px" class="app-sidebar__user-avatar"
        src="https://res.cloudinary.com/mbrsagor/image/upload/v1595691413/Profile_pic/sagor_field_buzz_dhbfeu.jpg"
        alt="User Image">
    <div>
        <p class="app-sidebar__user-name">{{ request.user.username }}</p>
        <p class="app-sidebar__user-designation">{{ request.user.email }}</p>
    </div>
</div>
<ul class="app-menu">
    <li>
        <a class="app-menu__item active" href="{% url 'dashboard' %}">
            <span class="app-menu__label">Dashboard</span>
        </a>
    </li>
    <li>
        <a class="app-menu__item" href="{% url 'subject_create_listview' %}">
            <span class="app-menu__label">Subjects</span>
        </a>
    </li>
    <li>
        <a class="app-menu__item" href="{% url 'subject_enroll' %}">
            <span class="app-menu__label">Subject Enrolls</span>
        </a>
    </li>
    <li>
        <a class="app-menu__item" href="{% url 'section_view' %}">
            <span class="app-menu__label">Sections</span>
        </a>
    </li>
    <li>
        <a class="app-menu__item" href="{% url 'project_view' %}">
            <span class="app-menu__label">Projects</span>
        </a>
    </li>
    <li>
        <a class="app-menu__item" href="{% url 'certificates_view' %}">
            <span class="app-menu__label">Certificates</span>
        </a>
    </li>
    <li>
        <a class="app-menu__item" href="{% url 'assignment_create_and_list_view' %}">
            <span class="app-menu__label">Assignments</span>
        </a>
    </li>
    <li>
        <a class="app-menu__item" href="{% url 'books_list_view' %}">
            <span class="app-menu__label">E-Books</span>
        </a>
    </li>
    <li>
        <a class="app-menu__item" href="{% url 'routines_view' %}">
            <span class="app-menu__label">Routines</span>
        </a>
    </li>
    <li>
        <a class="app-menu__item" href="{% url 'notices_view' %}">
            <span class="app-menu__label">Notices</span>
        </a>
    </li>
    <li>
        <a class="app-menu__item" href="{% url 'marks_view' %}">
            <span class="app-menu__label">Marks</span>
        </a>
    </li>
</ul>