{% extends 'base.html' %}

{% block title %} {{ request.user.username }} profile Update {% endblock %}

{% block content %}
    <h1 class="mt-4">Profile</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">{{ request.user.username }}</li>
    </ol>

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Profile update form</h3>
        </div>
        <div class="card-body" id="app">
            <form method="post" enctype="multipart/form-data">
                {% include 'common/success_message.html' %}
                {% if form.errors %}
                    {% include 'common/error_message.html' %}
                {% endif %}
                {% csrf_token %}
                <div class="pb-3" style="display: grid; grid-template-columns: 1fr 1fr 1fr; grid-gap: 15px">
                    <div class="form-group">
                        <label for="faculty">Faculty</label>
                        <select class="custom-select" name="faculty" v-model="faculty_selected" @change="loadFac($event)">
                          <option v-for="(v,k) in faculty_list" :key="k" :value="v.id">[[v.name]]</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="department">Department</label>
                        <select class="custom-select" name="department" v-model="department_selected" @change="loadDep($event)">
                          <option v-for="(v,k) in department_arr" :key="k" :value="v.id">[[v.name]]</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="program">Program</label>
                        <select class="custom-select" name="program">
                          <option v-for="(v,k) in progream_arr" :key="k" :value="v.id">[[v.name]]</option>
                        </select>
                    </div>
                </div>
                <div class="pb-3" style="display: grid; grid-template-columns: 1fr 1fr 1fr; grid-gap: 15px">
                    <div class="form-group">
                        <label for="name">Enter Full Name</label>
                        {{ form.name }}
                    </div>
                    <div class="form-group">
                        <label for="father_name">Enter father Name</label>
                        {{ form.father_name }}
                    </div>
                    <div class="form-group">
                        <label for="mother_name">Enter mother Name</label>
                        {{ form.mother_name }}
                    </div>
                </div>
                <div class="pb-2" style="display: grid; grid-template-columns: 1fr 1fr 1fr; grid-gap: 15px">
                    <div class="form-group">
                        <label for="cgpa">Enter CGPA</label>
                        {{ form.cgpa }}
                    </div>
                    <div class="form-group">
                        <label for="gender">Select Gender</label>
                        {{ form.gender }}
                    </div>
                    <div class="form-group">
                        <label for="board_roll">Enter Road Roll</label>
                        {{ form.board_roll }}
                    </div>
                </div>
                <div class="pb-2" style="display: grid; grid-template-columns: 1fr 1fr 1fr; grid-gap: 15px">
                    <div class="form-group">
                        <label for="date_of_birth">Date Of Birth</label>
                        {{ form.date_of_birth }}
                    </div>
                    <div class="form-group">
                        <label for="ssc_passing_year">SSC Passing Year</label>
                        {{ form.ssc_passing_year }}
                    </div>
                    <div class="form-group">
                        <label for="hsc_passing_year">HSC Passing Year</label>
                        {{ form.hsc_passing_year }}
                    </div>
                </div>
                <div class="pb-2" style="display: grid; grid-template-columns: 1fr 1fr 1fr; grid-gap: 15px">
                    <div class="form-group">
                        <label for="date_of_birth">Images</label>
                        {{ form.avatar }}
                    </div>
                </div>
                <button type="submit" class="btn btn-success btn-sm" {% if object.is_updated %}disabled{% endif %}>Update</button>
            </form>
        </div>
    </div>
{% endblock %}
{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script>
    var app = new Vue({
      el: '#app',
      delimiters: ['[[', ']]'],
      data: {
        faculty_list: {{ faculties|safe }},
        department_list: {{ departments|safe }},
        program_list: {{ programs|safe }},
        faculty_selected: '',
        department_arr: [],
        department_selected: '',
        progream_arr: [],
      },
      mounted: function(){
        console.log('I am working.')
      },
      methods: {
        loadFac(){
            this.department_arr = [];
            for (let i = 0; i < this.department_list.length; i++) {
                if (this.faculty_selected === this.department_list[i].faculty__id) {
                    this.department_arr.push({name:this.department_list[i].name, id: this.department_list[i].id});
                }
            };
            console.log(this.department_arr)
        },
        loadDep(){
            this.progream_arr = [];
            for (let i = 0; i < this.program_list.length; i++) {
                if (this.department_selected === this.program_list[i].department__id) {
                    console.log(this.program_list[i].id)
                    this.progream_arr.push({name:this.program_list[i].name, id: this.program_list[i].id});
                }
            }
            console.log(this.department_selected)

        },
      }
    })
</script>
{% endblock %}
