{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Registration - Student Web Portal</title>
    <style>
        .signup-form-box {
            background: white;
            padding: 20px 20px;
            width: 400px;
        }
    </style>
</head>
<body>
<section class="material-half-bg">
    <div class="cover"></div>
</section>
<section class="login-content">
    <div class="logo">
        <h1>CBIU Student Web Portal</h1>
    </div>
    <div class="signup-form-box">
        <form method="post" class="login-form">
            {% csrf_token %}
            <div>
                {% if form.errors %}
                    <p class="alert alert-danger" role="alert">{{ form.errors }}</p>
                {% endif %}
            </div>
            <div class="form-group">
                <label class="control-label">Username</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label class="control-label">Email</label>
                {{ form.email }}
            </div>
            <div class="form-group">
                <label class="control-label">Password</label>
                {{ form.password1 }}
            </div>
            <div class="form-group">
                <label class="control-label">Confirm Password</label>
                {{ form.password2 }}
            </div>
            <div class="form-group btn-container">
                <button class="btn btn-primary btn-block"><i class="fa fa-sign-in fa-lg fa-fw"></i>SIGN UP</button>
            </div>
        </form>
    </div>
</section>
</body>
</html>
