{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Registration - Student Web Portal</title>
    <style>
        .signup-form-box {
            background: white;
            padding: 20px 20px;
            width: 400px;
        }
    </style>
</head>
<body>
<section class="row  mt-5">
    <div class="col-xl-8 m-auto mb-4">
        <div class="logo">
        <h1 class="text-center">CBIU Student Web Portal</h1>
    </div>
    <div>
        <form method="post">
            {% csrf_token %}
            <div>
                {% if form.errors %}
                    <p class="alert alert-danger" role="alert">{{ form.errors }}</p>
                {% endif %}
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="control-label">Full Name</label>
                        {{ form.full_name }}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="control-label">Username</label>
                        {{ form.username }}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="control-label">Email</label>
                        {{ form.email }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="control-label">Father Name</label>
                        {{ form.father_name }}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="control-label">Mother Name</label>
                        {{ form.mother_name }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="control-label">Session</label>
                        {{ form.session }}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="control-label">Gander</label>
                        {{ form.gender }}
                    </div>
                </div>
            </div>
            <div class="row" id="app">
                <div class="col">
                    <div class="form-group">
                        <label for="faculty">Faculty</label>
                        <select class="custom-select" name="faculty" v-model="faculty_selected" @change="loadFac($event)">
                          <option v-for="(v,k) in faculty_list" :key="k" :value="v.id">[[v.name]]</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="department">Department</label>
                        <select class="custom-select" name="department" v-model="department_selected" @change="loadDep($event)">
                          <option v-for="(v,k) in department_arr" :key="k" :value="v.id">[[v.name]]</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="program">Program</label>
                        <select class="custom-select" name="program">
                          <option v-for="(v,k) in progream_arr" :key="k" :value="v.id">[[v.name]]</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="control-label">Date Of Birth</label>
                        {{ form.date_of_birth }}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="control-label">SSC Year</label>
                        {{ form.ssc_passing_year }}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="control-label">HSC Year</label>
                        {{ form.hsc_passing_year }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="control-label">Password</label>
                        {{ form.password1 }}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="control-label">Confirm Password</label>
                        {{ form.password2 }}
                    </div>
                </div>
            </div>
            <div class="form-group btn-container">
                <button class="btn btn-primary btn-block"><i class="fa fa-sign-in fa-lg fa-fw"></i>SIGN UP</button>
            </div>
        </form>
    </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script>
    var app = new Vue({
      el: '#app',
      delimiters: ['[[', ']]'],
      data: {
        faculty_list: {{ faculties|safe }},
        department_list: {{ departments|safe }},
        program_list: {{ programs|safe }},
        faculty_selected: '',
        department_arr: [],
        department_selected: '',
        progream_arr: [],
      },
      mounted: function(){
        console.log('I am working.')
      },
      methods: {
        loadFac(){
            this.department_arr = [];
            for (let i = 0; i < this.department_list.length; i++) {
                if (this.faculty_selected === this.department_list[i].faculty__id) {
                    this.department_arr.push({name:this.department_list[i].name, id: this.department_list[i].id});
                }
            };
            console.log(this.department_arr)
        },
        loadDep(){
            this.progream_arr = [];
            for (let i = 0; i < this.program_list.length; i++) {
                if (this.department_selected === this.program_list[i].department__id) {
                    console.log(this.program_list[i].id)
                    this.progream_arr.push({name:this.program_list[i].name, id: this.program_list[i].id});
                }
            }
            console.log(this.department_selected)

        },
      }
    })
</script>
</body>
</html>
