{% extends 'base.html' %}
{% block title %} Project {% endblock %}

{% block content %}
<div class="app-title">
        <div>
            <h1><i class="fa fa-dashboard"></i> Assignments</h1>
            <p>Assignments create & listview</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                {% include 'common/success_message.html' %}
                <div class="tile-header text-right mb-2">
                    <button data-toggle="modal" data-target="#exampleModal" type="button"
                            class="btn btn-sm btn-success">
                        <i class="fa fa-plus"></i>
                        Add assignment
                    </button>
                </div>
                <div class="tile-body">
                    {% include 'assignment/table.html' %}
                </div>
            </div>
        </div>
    </div>
    {% include 'common/modal.html' %}
{% endblock %}
