{% extends 'base.html' %}
{% block title %} {{ object.title }}  {% endblock %}

{% block content %}
<div class="app-title">
        <div>
            <h1><i class="fa fa-dashboard"></i> {{ object.title }}</h1>
            <p>Assignments detail & update</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 m-auto card">
                    <h1>{{ object.title }}</h1>
                    <h6>Teacher: {{ object.teacher }}</h6>
                    <p>
                        {{ object.description }}
                    </p>
                    <h6>Students: </h6>
                    <ul>
                        {% for student in object.student.all %}
                        <li>{{ student.username }}</li>
                        {% endfor %}
                    </ul>
                    <h6>Reports: </h6>
                    <ul>
                        {% for report in object.report_assignment.all %}
                        <li>{{ report.title }}</li>
                        <li>{{ report.description }}</li>
                        {% endfor %}
                    </ul>
                    <h6>Result</h6>
                    <ul>
                        {% for mark in object.mark_assignments.all %}
                        <li>{{ mark.student }}</li>
                        <li>{{ mark.assignment }}</li>
                        <li>{{ mark.pass_mark }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}