{% extends 'base.html' %}
{% block title %} Certificate {% endblock %}

{% block content %}
<div class="app-title">
        <div>
            <h1><i class="fa fa-dashboard"></i> Certificates</h1>
            <p>Certificate lists</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                {% include 'common/success_message.html' %}
                {% if is_certificate %}
                <p>Already added your certificate.</p>
                {% else %}
                <div class="tile-header text-right mb-2">
                    {% if not created_certificate %}
                    <a href="{% url 'certificate_create_view' %}" class="btn btn-sm btn-success">
                        <i class="fa fa-plus"></i>
                        Add certificate
                    </a>
                    {% endif %}
                </div>
                {% endif %}
                <div class="tile-body">
                    {% if certificates %}
                        <table class="table table-hover table-bordered" id="sampleTable">
                            <thead>
                            <tr>
                                <th>SSC Certificate</th>
                                <th>HSC Certificate</th>
                                <th>CV</th>
                                <th>Created at</th>
                                <th>Updated at</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for obj in certificates %}
                                <tr>
                                    <td><img src="{{ obj.ssc_certificate.url }}" style="height: 100px; width: 120px"></td>
                                    <td><img src="{{ obj.hsc_certificate.url }}" style="height: 100px; width: 120px"></td>
                                    <td>
                                        <a href="{{ obj.cv.url }}">
                                            <i class="fa fa-file-pdf-o" style="height: 80px; width: 100px;" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                    <td>{{ obj.created_at|date }}</td>
                                    <td>{{ obj.updated_at|date }}</td>
                                    <td>
                                        <a class="btn btn-danger btn-sm" href="{% url 'certificates_delete_view' pk=obj.pk %}"><i
                                                class="fa fa-trash"></i></a>
                                        <a class="btn btn-success btn-sm" href="{% url 'certificate_detail_update_view' pk=obj.pk %}"><i class="fa fa-eye"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% include 'common/modal.html' %}
{% endblock %}